html {
  width: 100%;
    max-width: 540px;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
::-webkit-scrollbar {
    width: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-tap-highlight-color: transparent;
}
body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  overflow-x:hidden;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  position: relative;
}
a{
  text-decoration: none;
  color: #EF8521;
}
a:hover {
  color: #EF8521;
}
li{
  list-style: none;
}
input, button {
  border: none;
  outline: none;
  display: block;
  border-radius: 0;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color: #c2c2c2;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #c2c2c2;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #c2c2c2;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.stop-to-scroll {
  overflow-y: hidden;
}
.slide-enter-active {
  transition: all .3s ease;
}
.slide-leave-active {
  transition: all .3s ease;
}
.slide-enter, .slide-leave-to {
  transform: translateX(-100%);
}